{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block head %}
    <link href="{% static 'css/blog/page.css' %}" rel="stylesheet">
    <link href="{% static 'css/blog/article.css' %}" rel="stylesheet">
{% endblock head %}
{% block navbar %}
    <li><a href="/">首页</a></li>
    <li><a href="#">关于</a></li>
    <li><a class="active" href="/content">成长</a></li>
    <li><a href="#">学习</a></li>
    <li><a href="#">娱乐</a></li>
    <li><a href="/moodList">说说</a></li>
    <li><a href="/commit">留言</a></li>
{% endblock navbar %}
{% block body %}
    <div class="main">
        <div class="container">
            <div class="row">
                {% include 'blog/breadcrumb.html' %}
                <div class="col-md-9 w_main_left">
                    <div class="panel panel-default">
                        <div class="panel-body">
                        {% block contentText %}
                            <div class="contentList">
                                {% for content in ContentList %}
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                        <div class="row">
                                        {% if content.img %}
                                            <div class="col-xs-6 col-md-3">
                                                <a href="#" class="thumbnail w_thumbnail">
                                                    <img src="{% static 'img/cat1.jpg' %}">
                                                </a>
                                            </div>
                                        {% endif %}
                                            <h4 class="media-heading">
                                                <a class="title" href="getText/{{ content.id }}">{{ content.title }}</a>
                                            </h4>
                                            <p>
                                                {% for lab in content.label %}
                                                    <a href="#" class="label label-default">{{ lab }}</a>
                                                {% endfor %}
                                            </p>
                                            <p class="overView">
                                                {{ content.content }}
                                            </p>
                                            <p class="count_r">
                                        <span class="count">
                                            <i class="glyphicon glyphicon-user"></i>
                                            <a href="#">{{ content.user }}</a>
                                        </span>
                                                <span class="count">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                            <a href="#">阅读:{{ content.read }}</a>
                                        </span>
                                                <span class="count">
                                            <i class="glyphicon glyphicon-comment"></i>
                                            <a href="#">评论:{{ content.review }}</a>
                                        </span>
                                                <span class="count">
                                            <i class="glyphicon glyphicon-time"></i>
                                            <a href="#">{{ content.addTime }}</a>
                                        </span>
                                            </p>
                                        </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% include 'blog/page.html' %}
                        {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">最新发布</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-unstyled sidebar">
                                {% for content in ContentList %}
                                    <li><a  href="/content/getText/{{ content.id }}">{{ content.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% include 'blog/link.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footer %}
    <script src="{% static 'js/blog/article.js' %}"></script>
{% endblock footer %}